//- .wrapper 
main(id="cover").cover
    section.parallax
      .conteiner
         .cover-box.parallax__body 
            //- section.cover-text.parallax__txt-container
            //-     h1.cover-text__title Гацевич Иван
            //-       p.cover-text__subtitle web разработчик
            //-     .cover-text__descript
            //-       p Работаю над созданием и поддержкой сайтов:
            //-       //- p Сайты визитки, лендинги (landing-page), многостраничные сайты, сайты на cms WordPress, SPA сайты (single page application, сайты web-приложения).
            //-       p Сайты визитки, лендинги (landing-page), многостраничные сайты, SPA сайты (single page application, сайты web-приложения).
            section.cover-foto
                img.author-foto(src="@img/IVN.jpg", alt="author")

            section.parallax__img.img-parallax
              section.cover-text.parallax__txt-container
                h1.cover-text__title Гацевич Иван
                  p.cover-text__subtitle web разработчик
                .cover-text__descript
                  p Работаю над созданием и поддержкой сайтов:
                  //- p Сайты визитки, лендинги (landing-page), многостраничные сайты, сайты на cms WordPress, SPA сайты (single page application, сайты web-приложения).
                  p Сайты визитки, лендинги (landing-page), многостраничные сайты, SPA сайты (single page application, сайты web-приложения).
    

              .img-parallax__itm
                  .img-parallax__a
              .img-parallax__itm
                  .img-parallax__b-fon
              .img-parallax__itm
                  .img-parallax__c-masc  
              .img-parallax__itm.img-parallax__itm-d
                  .img-parallax__d


         
               

  


