section#services.services.parallax_sub-content

  //-Background animtion
  .services-background
    .serv-cube
    .serv-cube
    .serv-cube
    .serv-cube
    .serv-cube

    .conteiner
      .services-list__box
        ul.services-list
          h3.services-list__title Услуги :
          //-   li.services-list__element Подстраиваюсь под время заказчика.
          li.services-list__element Bёрстка сайтов.
          li.services-list__element Правка сайтов.
          li.services-list__element Создание сайтов веб-приложений с простым функционалом (single page application).
          //-   li.services-list__element Создание сайтов на cms WordPress.
          li.services-list__element Удобные исходники. Которые упростят поддержку и правку сайта.
          li.services-list__element Модульная система написания сайта.
          li.services-list__element Подключение простых форм интерактивности сайта.
          li.services-list__element Создание логотипа и фавикона(favicon) для вашего сайта.
          li.services-list__element Перевод вашего логотипа в векторный формат "svg".
          li.services-list__element Работа с векторной графикой.
          li.services-list__element Размещение вашего сайта в интернете (на хостинге).
          li.services-list__element Создание сайтов с админкой.
          li.services-list__element Адаптация сайта под мобильные устройства.
          //-   доп услуги , плавающая шапка, ФОРМА ОБРАТНОЙ СВЯЗИ , ГУГЛ КАПЧА , БУРГЕР МЕНЮ

