section.examples
  .conteiner
    h2.examples__tittle Примеры работ
    .examples-img__box
      //-  work 1  
      .examples-img__frame
        a(href)
          img.examples-img(src="img/work1.jpg", alt="работа 1")
      //-  work
      .examples-img__frame
        a(href)
          img.examples-img(src="img/work1.jpg", alt="работа 2")
      //-  work
      .examples-img__frame
        a(href)
          img.examples-img(src="img/work1.jpg", alt="работа 3")
      //-  work
      .examples-img__frame
        a(href)
          img.examples-img(src="img/work1.jpg", alt="работа 4")  
      //-  work 
      .examples-img__frame
        a(href)
          img.examples-img(src="img/work1.jpg", alt="работа 5") 
      //-  work  
      //- .examples-img__frame
      //-   a(href)
      //-     img.examples-img(src="img/work1.jpg", alt="работа 6")
    #price