section.price
  .conteiner
    h2.price-tittle Стоимость
    .price-box
      .price-element
        span.price-services Вёрстка сайта по макету, одна страница (до 6 блоков).
        span.price__dots
        |  
        span.price-cost 500р 
      .price-element
        span.price-services Вёрстка последующих страниц по макету .
        span.price__dots
        span.price-cost от 300р 
      .price-element
        span.price-services Вёрстка сайта без макета (создание похожего сайта). 
        span.price__dots
        span.price-cost 600р - 2000р 
      .price-element
        span.price-services Вёрстка простого блока. 
        span.price__dots
        span.price-cost  100р
      .price-element
        span.price-services Вёрстка сложного блока. 
        span.price__dots
        span.price-cost  200р - 300р 
      .price-element
        span.price-services Дополнительная мобильная адаптация заказанного сайта. 
        span.price__dots
        span.price-cost  300р 
      .price-element
        span.price-services Мобильная адаптация сторонней вёрстки (до 3х страниц).
        span.price__dots
        |  
        span.price-cost 500р - 1000р 
      .price-element
        span.price-services Перенос иконок и картинок в векторный формат. 
        span.price__dots
        span.price-cost  50р за единицу
      .price-element
        span.price-services Перенос логотипа в векторный формат. 
        span.price__dots
        span.price-cost  100р - 200р
      .price-element
        span.price-services Создание логотипа. 
        span.price__dots
        span.price-cost  200р - 1000р
      .price-element
        span.price-services Создание сайтов веб-приложений с простым функционалом.
        |  
        span.price__dots
        span.price-cost  200р - 1000р
      .price-element
        span.price-services Подключение админки. 
        span.price__dots
        span.price-cost  500р 
      .price-element
        span.price-services Создание простого одностраничного сайта на WordPress по тз, без дизайна. 
        span.price__dots
        |  
        span.price-cost 500р
      .price-element
        span.price-services Перенос сайта на WordPress (ориентировочная цена). 
        span.price__dots
        span.price-cost  1000р - 2000p
      .price-element
        span.price-services Подключение форм и простая анимация, за целый объект. 
        span.price__dots
        span.price-cost  100р - 500p 
      .price-element
        span.price-services Правка вашего сайта оговаривается ориентировочно цен выше. 

  img.price-logo-img(src="img/IcoWerw21.svg", alt="logo")
