section.technologies
  .conteiner
    h2.technologies-ttl Применяемые технологии и инструменты
    .technologies-box
      .technologies-element.el--1html
        img.jarallax-img(src="../img/svg-techno/html5icon.svg", alt="Html")
      .technologies-element.el--2sass
        img(src="../img/svg-techno/sass.svg", alt="Sass")
      .technologies-element.el--3javascript
        img(src="../img/svg-techno/JS2.svg", alt="Javascript")
      .technologies-element.el--4wordpress
        img(src="../img/svg-techno/Wpres.svg", alt="Wordpress")
      .technologies-element.el--5gulp
        img(src="../img/svg-techno/gulp.svg", alt="Gulp")
      .technologies-element.el--6photoshop
        img(src="../img/svg-techno/photoshop.svg", alt="Photoshop")
      .technologies-element.el--7react
        img(src="../img/svg-techno/reactjs.svg", alt="React")
      .technologies-element.el--8figma
        img(src="../img/svg-techno/Figmalogo.svg", alt="Figma")
      .technologies-element.el--9illustrator
        img(src="../img/svg-techno/illustrator.svg", alt="Шllustrator")
      //- .technologies-element.el--10svelte
      //-   img(src="../img/svg-techno/svelte.svg", alt="svelte")

  