main(id="cover").cover 
  //- .cover_gradient
  //-   .conteiner
    
  //-     .cover-box
  //-       .cover-text
  //-         h1.cover-text__title Гацевич Иван
  //-           p.cover-text__subtitle web разработчик
  //-         .cover-text__descript
  //-           p Работаю над созданием и поддержкой сайтов:
  //-           p Сайты визитки, лендинги (landing-page), многостраничные сайты, сайты на cms WordPress, SPA сайты (single page application, сайты web-приложения).


.wrapper 
    section.parallax
        .parallax__body 
          section.parallax__container.--container          
               h1.parallax__ttl Гацевич Иван
               .parallax__label web разработчик
          section.parallax__img.img-parallax
              .img-parallax__itm
                  .img-parallax__a
              .img-parallax__itm
                  .img-parallax__b-fon
              .img-parallax__itm
                  .img-parallax__c-masc
    section.content
       .content__container.--container 
          h2.content__ttl TEST TTL
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 
          .content__txt test Text  test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text test Text 




