main.about-us
 .container.--overflow-hid

    section.slider-js--on.--relative
      
      section.about-us__slider.swiper-wrapper

        section.slider_section.swiper-slide
            img(src="@img/Card.svg", alt="fon card").slider_feedback-fon-card
            .slider_feedback__ico
              img(src="@img/“.svg", alt="feedback ico")
            .slider_feedback__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor neque sed imperdiet nibh lectus feugiat nunc sem. when an unknown printer took a galley.
          
            img(src="@img/Picture.jpg", alt="author foto").slider_author__img  
            .slider_author__name  Jane Cooper
            .slider_author__about  CEO at Design Space
            
        section.slider_section.swiper-slide
            img(src="@img/Card.svg", alt="fon card").slider_feedback-fon-card
            .slider_feedback__ico
              img(src="@img/“.svg", alt="feedback ico")
            .slider_feedback__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor neque sed imperdiet nibh lectus feugiat nunc sem. when an unknown printer took a galley.
          
            img(src="@img/Picture.jpg", alt="author foto").slider_author__img  
            .slider_author__name  Jane Cooper
            .slider_author__about  CTO at Google Maps
            
        section.slider_section.swiper-slide
            img(src="@img/Card.svg", alt="fon card").slider_feedback-fon-card
            .slider_feedback__ico
              img(src="@img/“.svg", alt="feedback ico")
            .slider_feedback__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor neque sed imperdiet nibh lectus feugiat nunc sem. when an unknown printer took a galley.
          
            img(src="@img/Picture.jpg", alt="author foto").slider_author__img  
            .slider_author__name  Jane Cooper
            .slider_author__about  CEO at ABC Corporation
        //- 222


      div.swiper-pagination

