head 
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1")
  link(rel="stylesheet", href="css/style.min.css")
  title= titleSite
  link(rel="shortcut icon", href="img/favicon/favicon.png", type="image/x-icon")
  //-SEO
  meta(name="description" content= descriptionSite)
  meta(name="keywords" content="Ivan Hatsevich")
  meta(name="author" content="Ivan Hatsevich")
  meta(name="image" content= logoUrl)

  meta(http-equiv="content-language", content= lang)
                                  //-Определяет частоту индексации для поисковых роботов.
  meta(name="document-state", content="dynamic")
  meta(name="revisit-after", content="15 days")

  //- Info Company
  meta(name="copyright", content="(c)")  
  meta(http-equiv="Reply-to", content= maleAutourReply )
  //-адрес издателя страницы 
  meta(name="Publisher-Email", content= maleSite)

  //-social
  meta(property="og:type" content="website")
  meta(property="og:title" content= descriptionSite)
  meta(property="og:description" content= "A Digital Product Design Agency. We are Creative and Professional Digital Agency...")
  meta(property="og:image" content= logoUrl)
  meta(property="og:url" content= urlSite)
  //-url page
  link(rel="canonical" href= urlPage)
  //-apple
  //- link(rel="apple-touch-icon" sizes="57x57" href='@img/appleIcon-57x57.png')
  //- link(rel="apple-touch-icon" sizes="60x60" href='@img/appleIcon-60x60.png')
  //- link(rel="apple-touch-icon" sizes="72x72" href='@img/appleIcon-72x72.png')
  //- link(rel="apple-touch-icon" sizes="114x114" href='@img/appleIcon-114x114.png')
  //- link(rel="apple-touch-icon" sizes="120x120" href='@img/appleIcon-120x120.png')
  //- link(rel="apple-touch-icon" sizes="144x144" href='@img/appleIcon-144x144.png')
  //- link(rel="apple-touch-icon" sizes="152x152" href='@img/appleIcon-152x152.png')
  //- link(rel="apple-touch-icon" sizes="180x180" href='@img/appleIcon-180x180.png')
  //- icon -> widow
  //- link(rel="icon" sizes="192x192" href='@img/appleIcon-192x192.png')
  //- link(rel="icon" sizes="32x32" href='@img/appleIcon-32x32.png')
  //- link(rel="icon" sizes="96x96" href='@img/appleIcon-96x96.png')
  //- link(rel="icon" sizes="16x16" href='@img/appleIcon-16x16.png')
  //-android
  link(rel="manifest" href='@img/manifest.json')
  //-microsoft
  meta(name="msapplication-TileImage" content='@img/ms-icon-144x144.png')
  meta(name="msapplication-TileColor" content='#ffffff')
  meta(name="theme-color" content='#ffffff')
  //-apple-icon-name
  meta(name="apple-mobile-web-app-title" content= titleSite)
  //-open full Window
  meta(name="apple-mobile-web-app-capable" content= "yes")
  //-отключение подсветки на мобильном
  meta(name="format-detection", content="telephone=no")
  meta(name="format-detection", content="date=no")
  meta(name="format-detection", content="address=no")
  meta(name="format-detection", content="email=no")



  //-подгрузка внешних ресурсов
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link( href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet")
 
